/* Can name it whatever. Similar to functions */
@keyframes moveInLeft {
  0% {
    /* 0% refers to before the animation starts */
    /* opacity is 0 to start because you want it to be invisible */
    opacity: 0;
    /* aka... it will start to the left on the X axis by 100px */
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    /* 100% refers to when the animation ends */
    opacity: 1;
    /* 0 because we want it to look like the way it does right now */
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    /* 0% refers to before the animation starts */
    /* opacity is 0 to start because you want it to be invisible */
    opacity: 0;
    /* aka... it will start to the left on the X axis by 100px */
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    /* 100% refers to when the animation ends */
    opacity: 1;
    /* 0 because we want it to look like the way it does right now */
    transform: translate(0);
  }
}

/* VCool. You can apply these animations when hover over an element.
This is the correct syntax for that..... just need to add a :hover
.logo:hover {
  animation: moveInRight 1s ease-out;
} */





@keyframes moveInBottom {
  0% {
    /* 0% refers to before the animation starts */
    /* opacity is 0 to start because you want it to be invisible */
    opacity: 0;
    /* aka... it will start to the left on the X axis by 100px */
    transform: translateY(3rem);
  }

  100% {
    /* 100% refers to when the animation ends */
    opacity: 1;
    /* 0 because we want it to look like the way it does right now */
    transform: translate(0);
  }
}
