/* This is the universal selector. It selects every element on the page */
*,
*::after,
*::before {

  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; // aka 10px or 1rem


// VImportant...because we have not specified what we want for a phone sized screen and both
// media queries apply...aka a phone screen is under 900px + 1200 px, the LAST declaration is
// what determines the font size for a phone sized screen

// if tab land came after tab port, the font-size for a phone would be 56.25
  @include respond(tab-land) {
    font-size: 56.25%;
  }

  @include respond(tab-port) {
    font-size: 50%;
  }

  @include respond(big-desktop) {
    font-size: 75%;
  }
}

body {
  /* PCOOL....This gives the entire website a white padding / border  */
  padding: 3rem;
    /* this means the borders are no longer accounted for when adding the height and width */
  box-sizing: border-box;

// so this would get the white padding around the website under screens under 900
  @include respond(tab-port) {
    padding: 0;
  }
}

// anytime you highlight text, the background is green and text is white
::selection {
  background-color: $color-primary;
  color: $color-white;
}
